<p-tabView>
  <p-tabPanel header="Header 1">
     Content 1
  </p-tabPanel>
  <p-tabPanel header="Header 2">
      Content 2
  </p-tabPanel>
  <p-tabPanel header="Header 3">
      Content 3
  </p-tabPanel>
</p-tabView>

<p-dialog header="Title" >
  Content
</p-dialog>

<button type="button" icon="pi pi-info-circle" label="Show"></button>

<p-calendar></p-calendar>

<button pButton type="button" label="Click" ></button>
<p-button label="Click" ></p-button>

<button pButton type="button" label="Small" icon="pi pi-check" class="p-button-sm"></button>
<button pButton type="button" label="Normal" icon="pi pi-check" class="p-button"></button>
<button pButton type="button" label="Large" icon="pi pi-check" class="p-button-lg"></button>



<router-outlet></router-outlet>
