<div class="ui-g">
  <div class="ui-g-12">
    <h1>Lançamentos</h1>
  </div>
</div>

<div class="p-grid">
  <label>Descrição</label>
  <div class="ui-g-12 ui-fluid">

    <input type="text" pInputText style="width: 100%"/>
  </div>
</div>

<div class="ui-g-12">
  <label for="vencimento" style="display:block;">Vencimento</label>
  <input type="text" pInputText style="width: 95px;">

  <label for="">até</label>
  <input type="text" pInputText style="width: 95px;">
</div>

<div class="ui-g-12">
  <button pButton type="submit" label="Pesquisar" style="margin-top: 10px;margin-bottom:20px;"></button>
</div>



<p-table [value]="lancamentos" responsiveLayout="scroll" styleClass="p-datatable-striped table"  [paginator]="true" [rows]="2" style="margin-top:10px;">
  <ng-template pTemplate="header">
      <tr>
          <th>Pessoa</th>
          <th>Descrição</th>
          <th>Vencimento</th>
          <th>Pagamento</th>
          <th>Valor</th>
          <th>Opções</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-lancamentos>
      <tr>
          <td>{{lancamentos.pessoa}}</td>
          <td>{{lancamentos.descricao}}</td>
          <td >{{lancamentos.dataVencimento}}</td>
          <td>{{lancamentos.dataPagamento}}</td>
          <td >{{lancamentos.valor}}</td>
          <td class="col-opcoes">
            <button pButton type="submit" class="p-button-warning" class="p-button-sm"><i class="pi pi-pencil" style="font-size: 2rem"></i></button>
            <button pButton type="submit" class="p-button-danger p-button-sm"  style="margin-left: 10px;"><i class="pi pi-times" style="font-size: 2rem"></i></button>
            </td>
      </tr>
  </ng-template>
</p-table>
<router-outlet></router-outlet>
